.pf-v6-c-card.workspace-option-card--hidden {
  opacity: 0.7;
}

.pf-v6-c-card.workspace-option-card--redirected {
  border-left: 8px solid var(--pf-t--global--border--color--default);
}

.pf-v6-c-card.workspace-option-card--hidden.workspace-option-card--redirected {
  border-left: 8px solid var(--pf-t--global--border--color--default);
  opacity: 0.7;
}

.pf-v6-c-card.pf-m-selected {
  background-color: var(--pf-t--global--background--color--disabled--default) !important;
  opacity: 1 !important;
}
